body,.form-input-field {color: #A4A4A4;}
#wrapper{background-color: #1F2226;}
#titleAlt h1,
header h1 {color:#FFFFFF;}
#titleAlt h2,
header h2 {color: #FFFFFF;}
nav ul li a, aside ul li a, a {color: #B7B8BB;}
ul#breadcrumb  {color: #848588;}
ul#breadcrumb {background-color: #1F2226;
}
.filesharing-item {border-bottom-width: 1px solid #383B3F;}

.thumbnail-caption {color: #85888C}
.form-input-field {background-color: #383B3F;}
.form-input-button{background-color: #383B3F;}
.form-input-button {color: #A4A4A4;}
#footer {
	color: #A4A4A4;
}

#container a {
		color: #A4A4A4;
	}

a.social {
	color: #DDDDDD!important;}
/*
     FILE ARCHIVED ON 19:27:18 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:52 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.708
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.012
  esindex: 0.014
  cdx.remote: 42.326
  LoadShardBlock: 307.959 (3)
  PetaboxLoader3.datanode: 153.897 (4)
  PetaboxLoader3.resolve: 210.59 (2)
  load_resource: 182.532
*/