#titleAlt h2,
header h2{
	font-family: arial;
}
/*
     FILE ARCHIVED ON 17:48:33 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.9
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.013
  esindex: 0.016
  cdx.remote: 55.263
  LoadShardBlock: 804.562 (3)
  PetaboxLoader3.resolve: 351.05 (4)
  PetaboxLoader3.datanode: 583.33 (4)
  load_resource: 247.121
*/