body
{
	font-family: arial;
}
/*
     FILE ARCHIVED ON 13:28:59 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.834
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.012
  esindex: 0.015
  cdx.remote: 25.491
  LoadShardBlock: 171.206 (3)
  PetaboxLoader3.datanode: 145.698 (4)
  PetaboxLoader3.resolve: 186.241 (2)
  load_resource: 224.217
*/