nav ul li a,
aside ul.navigation li {
	font-family: arial;
}
ul#breadcrumb{
	font-family: arial;
}
/*
     FILE ARCHIVED ON 14:34:32 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.769
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 26.443
  LoadShardBlock: 261.061 (3)
  PetaboxLoader3.datanode: 184.869 (4)
  PetaboxLoader3.resolve: 176.789 (2)
  load_resource: 133.358
*/