
/*
     FILE ARCHIVED ON 15:26:20 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.868
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.023
  esindex: 0.016
  cdx.remote: 23.609
  LoadShardBlock: 282.924 (3)
  PetaboxLoader3.datanode: 127.308 (4)
  PetaboxLoader3.resolve: 364.729 (2)
  load_resource: 458.474
*/