#titleAlt, nav{
	text-align: center;
}
/*
     FILE ARCHIVED ON 15:35:31 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.476
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 100.394
  LoadShardBlock: 214.667 (3)
  PetaboxLoader3.datanode: 95.863 (4)
  PetaboxLoader3.resolve: 207.627 (2)
  load_resource: 119.659
*/