body{
	background: #222 url('/web/20131002133313im_/http://globbert.com/rw_common/themes/venture/images/noise1.jpg');} 

/*
     FILE ARCHIVED ON 13:33:13 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:52 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.719
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.013
  esindex: 0.017
  cdx.remote: 6.536
  LoadShardBlock: 112.496 (3)
  PetaboxLoader3.datanode: 151.882 (4)
  PetaboxLoader3.resolve: 1850.856 (2)
  load_resource: 1908.683
*/