#padding #socialicons{
	display: block;
	padding-bottom: 10px;
	}

aside #socialicons{
	display: none;
	}	

aside {
	padding-top: 40px;
	}

#sideTitle{
	padding-bottom: 10px;
	}

section #padding{
	margin-top: 0;
	padding-top: 30px;
	padding-left: 20px;
	margin-left: 10px;
	}

/*
     FILE ARCHIVED ON 18:23:02 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:52 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 10.477
  exclusion.robots: 0.049
  exclusion.robots.policy: 0.035
  esindex: 0.017
  cdx.remote: 18.788
  LoadShardBlock: 350.473 (3)
  PetaboxLoader3.datanode: 214.539 (4)
  PetaboxLoader3.resolve: 325.259 (2)
  load_resource: 471.811
*/