#container{
	background: url('/web/20131002133424im_/http://globbert.com/rw_common/themes/venture/images/content_grad.png') repeat-x top left;
	}
	
section{
	width: 960px!important;
	}
		
aside{
	display: none;
	}


/*
     FILE ARCHIVED ON 13:34:24 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.584
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 16.81
  LoadShardBlock: 301.023 (3)
  PetaboxLoader3.datanode: 102.983 (4)
  PetaboxLoader3.resolve: 331.693 (2)
  load_resource: 162.997
*/