#container, #footer, #sideTitle, ul#breadcrumb, nav ul li a {
	text-shadow: none;
	}
/*
     FILE ARCHIVED ON 15:33:51 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:50 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.505
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 9.988
  LoadShardBlock: 122.515 (3)
  PetaboxLoader3.datanode: 122.068 (4)
  load_resource: 125.707
  PetaboxLoader3.resolve: 89.727
*/