#titleAlt h1,
header h1{
	font-size: 33px;
}
#titleAlt h2{
	font-size: 15px;
}
/*
     FILE ARCHIVED ON 13:39:19 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.771
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.018
  esindex: 0.013
  cdx.remote: 17.62
  LoadShardBlock: 238.077 (3)
  PetaboxLoader3.datanode: 193.271 (4)
  PetaboxLoader3.resolve: 230.932 (2)
  load_resource: 230.229
*/