#titleAlt{
	left: -1px;
	padding-left: 1px;
}

header{
	min-height:0;
}

#wrapper{
	margin: 95px auto;
}

/*
     FILE ARCHIVED ON 16:33:50 Oct 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:51 Feb 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.48
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 9.845
  LoadShardBlock: 900.31 (3)
  PetaboxLoader3.resolve: 736.82 (4)
  PetaboxLoader3.datanode: 272.999 (4)
  load_resource: 135.677
*/